In [2]:
import numpy as np
import pandas as pd

In [70]:
df = pd.read_csv("c_operator_expression_dataset_460k.csv", sep="\t")

In [71]:
df

,operator_expression,file_path,method,label
0,( index + 1 ) % 4,cleaned/meridian59/club/util.c,parenthsis_removal,0
1,index + 1 % 4,cleaned/meridian59/club/util.c,parenthsis_removal,1
2,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
3,1 << FIX_DECIMAL * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,1
4,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
...,...,...,...,...
2067090,len < 0 && errno == EINTR,cleaned/android_device_samsung_p4-common/power...,parenthsis_insertion,0
2067091,len < ( 0 && ) errno == EINTR,cleaned/android_device_samsung_p4-common/power...,parenthsis_insertion,1
2067092,alt && key_code == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,0
2067093,( alt && key_code ) == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,1
2067094,get_allow_toggle_display ( ) && ( key_code == ...,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,0

In [72]:
# rename column from "label" to "labels"
df = df.rename(columns={"label": "labels"})

In [73]:
df = df.drop(df.index[-1])
df

,operator_expression,file_path,method,labels
0,( index + 1 ) % 4,cleaned/meridian59/club/util.c,parenthsis_removal,0
1,index + 1 % 4,cleaned/meridian59/club/util.c,parenthsis_removal,1
2,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
3,1 << FIX_DECIMAL * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,1
4,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
...,...,...,...,...
2067089,( fn == nfields ) + 1,cleaned/waspvm/rx/split.c,parenthsis_insertion,1
2067090,len < 0 && errno == EINTR,cleaned/android_device_samsung_p4-common/power...,parenthsis_insertion,0
2067091,len < ( 0 && ) errno == EINTR,cleaned/android_device_samsung_p4-common/power...,parenthsis_insertion,1
2067092,alt && key_code == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,0
2067093,( alt && key_code ) == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,1

In [74]:
df.isnull().sum()

operator_expression    0
file_path              0
method                 0
labels                 0
dtype: int64

In [75]:
df["method"].value_counts()

parenthsis_insertion    1193318
parenthsis_removal       873776
Name: method, dtype: int64

In [76]:
df["operator_expression"].nunique()

479438

In [77]:
df = df.drop_duplicates(subset=['operator_expression'])
# Resetting the index
df = df.reset_index(drop=True)

In [78]:
df

,operator_expression,file_path,method,labels
0,( index + 1 ) % 4,cleaned/meridian59/club/util.c,parenthsis_removal,0
1,index + 1 % 4,cleaned/meridian59/club/util.c,parenthsis_removal,1
2,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
3,1 << FIX_DECIMAL * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,1
4,( ( int ) ( ( OFFSCREEN_BITMAP_SIZE - x - 1 ) ...,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
...,...,...,...,...
479433,( ct + 1 ) * sizeof ( char * ),cleaned/waspvm/vm/shell.c,parenthsis_removal,0
479434,ct + 1 * sizeof ( char * ),cleaned/waspvm/vm/shell.c,parenthsis_removal,1
479435,sub . rm_so > ( sub . rm_eo || ( ( sub . rm_so...,cleaned/waspvm/rx/main.c,parenthsis_insertion,1
479436,alt && key_code == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,0
479437,( alt && key_code ) == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,1

In [79]:
def count_words(text):
    words = text.split()
    return len(words)

df["word_count"] = df["operator_expression"].apply(count_words)

df["word_count"].mean()

13.541542389214039

In [80]:
(df["word_count"] > 100).sum()

692

In [81]:
"""Remove operator expression containing more than 100 words"""

df["word_count"] = df["operator_expression"].apply(count_words)

# Filter rows where word count is less than or equal to 100
df_filtered = df[df["word_count"] <= 100]

# Drop the 'word_count' column as it's no longer needed
df_filtered = df_filtered.drop(columns=['word_count'])

In [82]:
df_filtered = df_filtered.reset_index(drop=True)
df_filtered

,operator_expression,file_path,method,labels
0,( index + 1 ) % 4,cleaned/meridian59/club/util.c,parenthsis_removal,0
1,index + 1 % 4,cleaned/meridian59/club/util.c,parenthsis_removal,1
2,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
3,1 << FIX_DECIMAL * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,1
4,( ( int ) ( ( OFFSCREEN_BITMAP_SIZE - x - 1 ) ...,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
...,...,...,...,...
478741,( ct + 1 ) * sizeof ( char * ),cleaned/waspvm/vm/shell.c,parenthsis_removal,0
478742,ct + 1 * sizeof ( char * ),cleaned/waspvm/vm/shell.c,parenthsis_removal,1
478743,sub . rm_so > ( sub . rm_eo || ( ( sub . rm_so...,cleaned/waspvm/rx/main.c,parenthsis_insertion,1
478744,alt && key_code == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,0
478745,( alt && key_code ) == KEY_VOLUMEDOWN,cleaned/android_device_samsung_p4-common/recov...,parenthsis_insertion,1

In [54]:
df_filtered.to_csv("operator_precedence_bug_dataset____k_preprocessed.tsv", sep="\t", index=False)

---
## Rough
---

In [3]:
custom_df = pd.read_csv("operator_precedence_bug_dataset.csv", sep="\t")

In [4]:
custom_df

,operator_expression,file_path,method,label
0,( index + 1 ) % 4,cleaned/meridian59/club/util.c,parenthsis_removal,0
1,index + 1 % 4,cleaned/meridian59/club/util.c,parenthsis_removal,1
2,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
3,1 << FIX_DECIMAL * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,1
4,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
...,...,...,...,...
2271780,( flags & GLOB_DOOFFS ) && pglob -> gl_offs > ...,cleaned/platform_external/systemtap/target/run...,parenthsis_insertion,0
2271781,( ( flags & GLOB_DOOFFS ) && pglob -> gl_offs ...,cleaned/platform_external/systemtap/target/run...,parenthsis_insertion,1
2271782,! ( flags & GLOB_NOESCAPE ),cleaned/platform_external/systemtap/target/run...,parenthsis_removal,0
2271783,flags & ! flags & GLOB_NOESCAPE,cleaned/platform_external/systemtap/target/run...,parenthsis_removal,1
2271784,flags & ( GLOB_NOCHECK | GLOB_NOMAGIC ),cleaned/platform_external/systemtap/target/run...,parenthsis_removal,0

In [8]:
# Currently: Total files: 479000 , Total samples: 2135272
# Next: Total files: 505000 , Total samples: 101302

custom_df = custom_df.head(2135274+101302)

In [9]:
custom_df

,operator_expression,file_path,method,label
0,( index + 1 ) % 4,cleaned/meridian59/club/util.c,parenthsis_removal,0
1,index + 1 % 4,cleaned/meridian59/club/util.c,parenthsis_removal,1
2,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
3,1 << FIX_DECIMAL * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,1
4,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
...,...,...,...,...
2236571,regnum == ( - 1 || regnum == i ),cleaned/dports/devel/gdb66/dragonfly/amd64dfly...,parenthsis_insertion,1
2236572,creal ( z__ ) != ( float ) 0. || cimag ( z__ )...,cleaned/dports/science/linsmith/files/carg.c,parenthsis_insertion,0
2236573,( creal ( z__ ) != ( ( float ) 0. || cimag ( z...,cleaned/dports/science/linsmith/files/carg.c,parenthsis_insertion,1
2236574,creal ( z__ ) != ( float ) 0. || cimag ( z__ )...,cleaned/dports/comms/nec2c/files/carg.c,parenthsis_insertion,0
2236575,( creal ( z__ ) != ( ( float ) 0. || cimag ( z...,cleaned/dports/comms/nec2c/files/carg.c,parenthsis_insertion,1

In [10]:
custom_df.to_csv("operator_precedence_bug_dataset.csv", index=False, sep="\t")

In [3]:
pd.read_csv("operator_precedence_bug_dataset.csv", sep="\t")

,operator_expression,file_path,method,label
0,( index + 1 ) % 4,cleaned/meridian59/club/util.c,parenthsis_removal,0
1,index + 1 % 4,cleaned/meridian59/club/util.c,parenthsis_removal,1
2,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
3,1 << FIX_DECIMAL * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,1
4,( 1 << FIX_DECIMAL ) * shrink,cleaned/meridian59/bbgun/draw.c,parenthsis_removal,0
...,...,...,...,...
2236832,optlen <= 0 || optlen > olen,cleaned/dports/net/tcpmssd/src/tcpmssd.c,parenthsis_insertion,0
2236833,( optlen <= 0 || optlen ) > olen,cleaned/dports/net/tcpmssd/src/tcpmssd.c,parenthsis_insertion,1
2236834,strlen ( ifn ) == sdl -> sdl_nlen && strncmp (...,cleaned/dports/net/tcpmssd/src/tcpmssd.c,parenthsis_insertion,0
2236835,( strlen ( ifn ) == ( sdl -> sdl_nlen && strnc...,cleaned/dports/net/tcpmssd/src/tcpmssd.c,parenthsis_insertion,1
2236836,argc != 1 && argc != 3,cleaned/dports/x11/xvmcinfo/files/xvmcinfo.c,parenthsis_insertion,0